body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #ADD8E6, #ffffff);
  /* Light blue gradient */
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Header styles */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
}

.header-title {
  margin: 0;
  font-size: 36px;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.header-subtitle {
  margin: 0;
  font-size: 20px;
  color: #666;
}